In [2]:
import pandas as pd
#fb=pd.read_table("Restaurant_Reviews.tsv")
#bf=pd.read_table("Restaurant_Reviews.tsv",header=None)154849joij
fb=pd.read_table("FB_HI_EN_CR.tsv",header=None,names=['word','sense'])
fb.head()

             word sense
0     @bionicsix1  univ
1  @phanerozoic11  univ
2     @pari_cious  univ
3           bohut    hi
4           achay    hi

In [2]:
# filter the DataFrame using an OR condition
word_hi_en = fb[(fb.sense=='hi') | (fb.sense=='en')]

In [4]:
word_hi_en.sense.value_counts()

en    13037
hi     2621
Name: sense, dtype: int64

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

/home/vishalgupta/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
word_hi_en .loc[word_hi_en ["sense"]=='hi',"sense",]=1
word_hi_en .loc[word_hi_en ["sense"]=='en',"sense",]=0

/home/vishalgupta/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/vishalgupta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/vishalgupta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
word_hi_en .head()

    word sense
3  bohut     1
4  achay     1
5   ayay     1
7  Mixed     0
8  dabay     1

In [14]:

X=word_hi_en.word
y=word_hi_en.sense

In [15]:
# split X and y into training and testing sets
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [16]:
# examine the object shapes
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(11743,)
(3915,)
(11743,)
(3915,)

In [17]:
# import and instantiate CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [18]:
# fit and transform X_train into X_train_dtm
X_train_dtm = vect.fit_transform(X_train)
X_train_dtm.shape

(11743, 2939)

In [19]:
# transform X_test into X_test_dtm
X_test_dtm = vect.transform(X_test)
X_test_dtm.shape

(3915, 2939)

In [20]:
# import and instantiate MultinomialNB
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [22]:
# train the model using X_train_dtm
#nb.fit(X_train_dtm, y_train)
%time nb.fit(X_train_dtm, y_train.astype(str))

CPU times: user 128 ms, sys: 0 ns, total: 128 ms
Wall time: 255 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [23]:
y_pred_class = nb.predict(X_test_dtm)

In [24]:
from sklearn import metrics
metrics.accuracy_score(y_test.astype(str), y_pred_class.astype(str))

0.9397190293742018

In [25]:
metrics.confusion_matrix(y_test.astype(str), y_pred_class.astype(str))

array([[3277,    2],
       [ 234,  402]])

In [28]:
# first 10 false positives (hi-incorrectly classified as en )
X_test[y_test.astype(str) < y_pred_class.astype(str)]

17978    wing
16701     say
Name: word, dtype: object

In [30]:

X_test[y_test.astype(str) > y_pred_class.astype(str)].head(15)

6850           do
16303     bkchodi
8528           he
20389       jitne
11678       shadi
756         chalu
1905        shauk
19295    barabari
1105           he
3716        behen
20398      faisla
2512         puch
3674          are
19829           h
1548          SAF
Name: word, dtype: object

In [31]:
#coorect results obtained
X_test[y_test.astype(str) == y_pred_class.astype(str)].head(15)

11897      still
12052       most
8407          of
14676       tell
11179     escort
12375     Before
19361      jaadu
2987     willing
6968     mugging
7448       their
3960     ensured
6992         for
4887         you
7190        they
17535        the
Name: word, dtype: object

In [35]:
#X_train_dtm = vect.fit_transform(X_train)
y_pred_class = nb.predict(X_test_dtm[0])
#print(X_test_dtm[0])

In [36]:
y_pred_class

array(['0'], dtype='<U1')

In [37]:
#our prediction is 0 which is english and correct
X_test.iloc[0]

'still'

In [38]:
y_pred_class = nb.predict(X_test_dtm[3])
y_pred_class

array(['0'], dtype='<U1')

In [39]:
#our prediction is 0 which is english and correct
X_test.iloc[3]

'tell'

In [40]:
y_pred_class = nb.predict(X_test_dtm[756])
y_pred_class

array(['0'], dtype='<U1')

In [41]:
X_test.iloc[756]

"you're"

In [44]:
X_test[756]

'chalu'